* {
  /* margin: ; */
  /* padding: 0px; */
  /* z-index: 1; */
  /* background-color: #F5EDED; */
}
.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(98, 202, 228);
  justify-content: space-between;

  height: 10vh;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  align-items: center;
}
.navbar {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-left: 20px;

  justify-content: space-between;
}

.home {
  margin-right: 20px;
  margin-left: 20px;
}
.contact {
  margin-right: 20px;
  margin-left: 20px;
}

.AboutUs {
  margin-right: 20px;
  margin-left: 20px;
}

.logo {
  color: #6482ad;
  text-align: center;
  font-family: Algerian;
}

#login {
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
