* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  position: relative;
  font-weight: 300;
  line-height: 1.9;
  background-color: #55e5ff;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

#section-1 {
  display: flex;
  flex-direction: column;
  background-color: #55e5ff;
  z-index: 1;
  position: relative;
}
.box-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10rem;
  height: 50rem;
  min-height: 50rem;
  background-color: #55e5ff;
  position: relative;
}
.box-slide {
  background-color: orangered;
  height: 25rem;
  width: 30rem;
  min-width: 30rem;
  min-height: 25rem;
  position: absolute;
  opacity: 0.2;
  border-radius: 3%;
  transition-duration: 1s;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1500px) {
  .box-slide {
    background-color: orangered;
    height: 69%;
    width: 22%;
    position: absolute;
    opacity: 1;
    border-radius: 3%;
    transition-duration: 1s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  .box-slide.center-slide {
    height: 69%;
    width: 22%;
    transform: scale(1.2); /* Make the center slide bigger */
    opacity: 1; /* Highlight the center slide */
  }
}

.box-slide:hover {
  background: linear-gradient(to top left, #340bec, #18b8e0);
}
.box-slide1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.box-slidecon {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box-maintext {
  top: 25%;
  font-size: 3.5rem;
  position: absolute;
  color: white;
}

.box-maintext-signup {
  top: 1%;
  font-size: 3.5rem;
  position: absolute;
  color: white;
}

.phone-num {
  position: absolute;
  top: 58%;

  left: 29%;
  right: 30%;
  height: 2.5rem;
  width: 40%;
  border: none;
  border-radius: 3%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  color: black;
  background: linear-gradient(to top left, #00eeff, #cccccc);
}
.phone-num:hover {
  background: linear-gradient(to top left, #8c41ee, #59c0f0);
}
.phone-num-signup {
  position: absolute;
  top: 42%;

  left: 29%;
  right: 30%;
  height: 2.5rem;
  width: 40%;
  border: none;
  border-radius: 3%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  color: black;
  background: linear-gradient(to top left, #00eeff, #cccccc);
}
.enter-pass {
  position: absolute;
  top: 53%;

  left: 29%;
  right: 30%;
  height: 2.5rem;
  width: 40%;
  border: none;
  border-radius: 3%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  color: black;
  background: linear-gradient(to top left, #00eeff, #cccccc);
}
.confirm-pass {
  position: absolute;
  top: 64%;

  left: 29%;
  right: 30%;
  height: 2.5rem;
  width: 40%;
  border: none;
  border-radius: 3%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  color: black;
  background: linear-gradient(to top left, #00eeff, #cccccc);
}
.name {
  position: absolute;
  top: 20%;
  left: 29%;
  right: 30%;
  height: 2.5rem;
  width: 40%;
  border: none;
  border-radius: 3%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  color: black;
  background: linear-gradient(to top left, #00eeff, #cccccc);
}

.username {
  position: absolute;
  top: 31%;
  left: 29%;
  right: 30%;
  height: 2.5rem;
  width: 40%;
  border: none;
  border-radius: 3%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  color: black;
  background: linear-gradient(to top left, #00eeff, #cccccc);
}

.signup-btn {
  border-radius: 3%;
  border: none;
  width: 33%;
  height: 3rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  position: absolute;
  left: 33%;
  right: 33%;
  background-color: #71faf3bd;
  color: rgb(72, 6, 255);

  top: 75%;
}

.signup-btn:hover {
  background-color: #d28ef1;
  color: rgb(255, 255, 255);
}
.signup-btn:active {
  background: linear-gradient(to top left, #7d0be7, #3db4eb);
  color: rgb(0, 0, 0);
  transform: translate(0.1rem, 0.1rem);
}

.callback-btn {
  border-radius: 3%;
  border: none;
  width: 33%;
  height: 3rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  position: absolute;
  left: 33%;
  right: 33%;
  background-color: #71faf3bd;
  color: rgb(72, 6, 255);

  top: 69%;
}
.callback-btn:hover {
  background-color: #d28ef1;
  color: rgb(255, 255, 255);
}
.callback-btn:active {
  background: linear-gradient(to top left, #7d0be7, #3db4eb);
  color: rgb(0, 0, 0);
  transform: translate(0.1rem, 0.1rem);
}

.box-slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  position: absolute;
  border: none;
  background: rgba(92, 200, 233, 0.466);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.box-slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.box-slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.box-slide.center-slide {
  height: 69%;
  width: 33%;
  transform: scale(1.2); /* Make the center slide bigger */
  opacity: 1; /* Highlight the center slide */
}

.section {
  /* border-top: 1px solid #ddd; */
  height: 50rem;
  min-height: 50rem;
  transition: transform 1s, opacity 1s;
}

#section-2 {
  height: 33%;

  /* border: 2px solid green; */
  margin-left: 0;
  padding: 0;

  align-items: center;
  justify-content: center;
  /* margin-top: 10vh; */
  background-color: #55e5ff;
  display: flex;
  flex-direction: column;
}

/* 1   Baby Blue
#68bbe3

Blue Grotto
#0e86d4

Blue
#055c9d

Navy Blue
#003060 */

/* 2 Midnight Blue
#145da0

Dark Blue
#0c2d48

Blue
#2e8bc0

Baby Blue
#b1d4e0 */

.section_title {
  padding: 15rem;
  line-height: 4rem;
}
.section__description {
  font-size: 2rem;
  color: gray;
}
.section__header {
  font-size: 5rem;
  line-height: 5rem;
  color: rgb(73, 73, 73);
}

.operations {
  width: 100rem;
  background: linear-gradient(to top left, #4bec0b, #18b8e0);
  z-index: 5;
  margin-bottom: 20rem;
}

.operations__tab--container {
  z-index: 100;

  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.btn {
  padding: 1.2rem 2rem 1.2rem 2rem;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(to top left, #4bec0b, #18b8e0);
  cursor: pointer;
  transition: all 0.3s;
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;

  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 1rem;
}
.operations__header {
  font-size: 2rem;
  align-self: center;
}
.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  overflow: hidden;
}
.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

#section-3 {
  display: flex;
  flex-direction: column;
  background-color: #55e5ff;
  z-index: 1;
}

.slider {
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  /* width: 100rem; */

  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(92, 200, 233, 0.466);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 1;
}
.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #0ea1db;
  opacity: 1;
}

.testimonial__header {
  font-size: 3rem;
}
.testimonial__text {
  font-size: 2rem;
}
.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  font-size: 2rem;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
  background-color: #83e8ec;
}
